<h1>Edit Product</h1>

<%= render "layouts/product_form" %>

<p><%= link_to "Return to review", product_review_path(@product, @review) %></p>

<p><%= link_to "Return to product", product_path(@product) %></p>